.container {  /* Add a background color and some padding around the form */
    border-radius: 5px;
    padding: 20px;
  }

  img {
    border-radius: 50% !important;
  }

  #contact {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/bridge1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: fit-content;
    color: white;
    left: auto;
    align-items: center;
}

#contact h3{
    padding: 45px;
}

#contact form{
    padding-top: 30px;
    width: 50%;
    display: inline-block;
    padding-bottom: 40px;    
}

input[type=text], select, textarea {/* Style inputs with type="text", select elements and textareas */
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {/*style the submit button with a specific background color etc */
    background-color: #E18515;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {  /* when moving the mouse ever the submit button*/
    background-color: black;
  }
  
  input[type=reset] {  /*style the reset button with a specific background color etc */
    background-color: #2316dd;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=reset]:hover {/* when moving the mouse ever the reset button */
    background-color: black;
  }
